@* SearchKit (https://github.com/hirov-anton/search-kit)
See LICENSE file in the solution root for full license information
Copyright (c) 2018 Anton Hirov *@

@using SearchKit.Entities.View
@model ColumnCollection
@{
    ViewBag.Title = "Search";
}

<div id="sk-search" class="sk-content">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="sk-search-panel">
                <div class="input-group">
                    <input type="text" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas fa-search fa-sm"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-@item.Width">
                @if (item.Type == ColumnType.InitialSection)
                {
                    <div class="d-flex">
                        <a href="#" class="mr-auto">
                            <i class="fas fa-external-link-alt fa-xs"
                               data-fa-transform="flip-h"></i>
                        </a>
                        <p class="sk-search-name">@item.Name:</p>
                    </div>
                }
                else
                {
                    <p class="sk-search-name">@item.Name:</p>
                }
                <div class="sk-hr"></div>
            </div>
        }
    </div>
</div>

<i class="fas fa-sort-alpha-down fa-xs"></i>
<i class="fas fa-sort-alpha-up fa-xs"></i>
<i class="fas fa-sort-amount-down fa-xs"></i>
<i class="fas fa-sort-amount-up fa-xs"></i>
<i class="fas fa-sort-numeric-down fa-xs"></i>
<i class="fas fa-sort-numeric-up fa-xs"></i>
<i class="fas fa-sitemap fa-xs"></i>
<br/>
<i class="fas fa-font fa-xs"></i>
<i class="fas fa-calendar-alt fa-xs"></i>
<i class="fas fa-star-half-alt fa-xs"></i>