<?xml version="1.0" encoding="utf-8"?>
<!-- SearchKit (https://github.com/hirov-anton/search-kit)
See LICENSE file in the solution root for full license information
Copyright (c) Anton Hirov -->

<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net472" />
</packages>